@media screen and (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-header {
    padding-left: 110px;
  }
}


.navbar {
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}


.navbar-nav li a {
  color: #FFFFFF;
  font-family: 'Old Standard TT', serif;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
}
.navbar-nav li a:focus, .navbar-nav li a:hover {
  background-color: #514A47;
}

.dropdown-menu {
  background-color: #514A47;
}
.dropdown-menu > li a {
  color: #FFFFFF;
  font-size: 12px;
}

.navbar-header button {
  margin-top: 30px;
}

.navbar-collapse {
  margin-top: 20px;
}

.navbar-header  {
  height: 90px;
}


